* {transition-property:all; transition-duration:1.5s; -webkit-user-select:none; user-select:none;}

input {transition-duration:0s;}

@font-face {font-family:RockEB; src:url(rock.ttf);}

body {font-family:'RockEB', 'Rockwell Extra Bold', 'Rockwell Bold', 'Rockwell'; font-weight:800; margin:0px;}

.dukduk       #dBack {height:1080px; width:1920px; background-image:url('dukDukGrass.jpg'); background-size:cover; overflow:hidden;}
.hiddenBeach  #dBack {height:1080px; width:1920px; background-image:url('hiddenBeachSand.jpg'); background-size:cover; overflow:hidden;}
.waupacaSand  #dBack {height:1080px; width:1920px; background-image:url('waupacaSand.jpg'); background-size:cover; overflow:hidden;}
.waupacaGrass #dBack {height:1080px; width:1920px; background-image:url('waupacaGrass.jpg'); background-size:cover; overflow:hidden;}

/* INSTRUCTIONS RELATED */
#instructionsDiv  {position:absolute; z-index:90; height:1080px; width:1920px; left:0px; top:0px; background-image:url(bg.png); opacity:0.7;}

:not([tip='']) #instructionsDiv  {display:none;}
/*
[tip='1'] [#tip1] {display:block;}
:not([tip='1']) [#tip1] {display:none;}

[tip='2'] [#tip2] {display:block;}
[tip='3'] [#tip3] {display:block;}
[tip='4'] [#tip4] {display:block;}
*/

/* GAME COUNTER RELATED */
.games     {position:absolute; top:0%; height:200px; width:200px; margin-left:-110px; color:black; font-size: 100px;  text-align:center; font-weight:800; -webkit-text-stroke:3px white;}
[side='left']  .games {left:610px;}
[side='right'] .games {left:1300px;}

/* SCORE RELATED */
.score {position:absolute; top:110px; height:760px; width:760px; margin-left:-380px; margin-top:0px; color:white; font-size:550px; line-height:760px; letter-spacing:-110px;  text-align:center; font-weight:800; -webkit-text-stroke:5px black; cursor:pointer; zborder:1px solid red;}		
[side='left']  .score {left:510px;}		
[side='right'] .score {left:1405px;}

/* TEAM NAME RELATED */
.name {position:absolute; top:800px; height:100px; width:760px; margin-top:0px;  color:black; font-size:90px; line-height:100px; letter-spacing:-7px; font-weight:800; text-align:center; -webkit-text-stroke:3px #79bdde; zborder:1px solid red;}		
[side='left']  .name {left:130px;}
[side='right'] .name {left:1025px}
.name + .name {margin-top:60px;}

/* SERVICE INDICATOR RELATED */
.service     {position: absolute; top:750px; margin-top:0px;}
.service img {height:175px;}		
[side='left']  .service {left:0px;    margin-left:35px;}
[side='right'] .service {left:1920px; margin-left:-190px;}

[teamServing="1"] #team1Serve {display:block;}
[teamServing="1"] #team2Serve {display:none;}
[teamServing="2"] #team2Serve {display:block;}
[teamServing="2"] #team1Serve {display:none;}
#team1ServerNum               {font-size:100px; margin-left:50px; margin-top:-145px;}
#team2ServerNum               {font-size:100px; margin-left:50px; margin-top:-145px;}

#helpIcon {position:absolute; top:940px; left:40px;}

/* SETTINGS RELATED */
#settingsIcon {position:absolute; top:940px; left:1740px;}
#detailsDiv   {position:absolute; top:50px; left:50px; height:730px; width:1570px; padding:100px; background-image:url('bg.png'); color:white; font-size:50px; -webkit-border-radius:50px; border:25px solid grey;}
.hidden       {display:none;}
.visible      {display:block;}
#detailsTable {color:white; font-size:50px; letter-spacing:-3px; width:100%;}
.radioset     {width:100%;}
.rschoice     {width:100%; padding:20px; text-align:center; font-size:50px;}
[selected="yes"] {background-color:white; color:black;}
[selected="no"]  {background-color:darkgray; color:lightgray;}

td                 {padding:25px 25px 0px 0px; line-height:40px;}
td:nth-child(odd)  {text-align:right; width:300px;}
td:nth-child(even) {text-align:left;  width:300px; }
input {height:50px; width:275px; font-size:40px;}

input:focus   {background-color:red;}
#helpText     {height:50px; font-size:40px; color:red;}

#switchMsgDiv {position:absolute; top:50px; left:50px; height:980px; width:1820px; background-color:red; text-align:center; color:white; line-height:490px; font-size:290px; display:none;}

/* TIMEOUT RELATED */
.timeOut1 {position:absolute; top:5px; margin-top:0px; margin-left:0px;}
.timeOut2 {position:absolute; top:5px; margin-top:0px; margin-left:80px;}
[side='left']  .timeOut1 {left:0px;    margin-left:10px;}
[side='left']  .timeOut2 {left:0px;    margin-left:90px;}
[side='right'] .timeOut1 {left:1920px; margin-left:-90px;}
[side='right'] .timeOut2 {left:1920px; margin-left:-170px;}
[taken="false"]  {opacity:1.0; cursor:pointer;}
[taken="true"]   {opacity:0.1; cursor:arrow;}
#TOCountDownDiv  {position:absolute; top:50px;  left:50px;   height:930px; width:1770px; background-image:url('redbg.png'); text-align:center; color:white; line-height:930px; font-size:450px; font-family:arial; letter-spacing:-40px; -webkit-border-radius:50px; border:25px solid black;}
#timeoutLabel    {position:absolute; top:10px;  left:50px;   height:80px;  width:1770px; text-align:center; color:white; line-height:80px; font-size:70px; font-family:arial; letter-spacing:-5px;}
#timeoutTeamName {position:absolute; top:100px; left:50px;   height:120px; width:1770px; text-align:center; color:white; line-height:120px; font-size:100px; font-family:arial; letter-spacing:-7px;}
#startTimeOut    {position:absolute; top:750px; left:50px;   height:120px; width:1770px; text-align:center; color:white; line-height:120px;  font-size:100px; letter-spacing:-7px;}
#timeLeft        {position:absolute; top:0px;   left:50px;   height:930px; width:1770px; text-align:center; color:white; line-height:930px; font-size:450px; font-family:arial; letter-spacing:-40px;}
#cancelTO        {position:absolute; top:10px;  left:1600px; height:120px; width:120px;  color:white; font-size:100px; line-height:120px; font-family:arial;}
